---
import { ThreeDCardDemo } from "@/components/3d-card";
import Layout from "../layouts/Layout.astro";
import AnimatedPinDemo from "@/components/3d-pin";
import { FloatingNavDemo } from "@/components/FloatingNavDemo";
import EvervaultCardDemo from "@/components/EvervaultCardDemo";
import Hero from "@/components/Hero";
import { BentoGridDemo } from "@/components/BentoGridDemo";
import { BentoGridDemo2 } from "@/components/BentoGridDemo2";
---

<Layout title="Welcome to Astro-Aceternity-ui template.">
  <FloatingNavDemo client:load />
  <Hero client:load />
  <div class="grid grid-cols-2 px-10">
    <BentoGridDemo client:load />
    <div class="mt-[150px]">
      <BentoGridDemo2 />
    </div>
  </div>
  <div
    class="grid mt-10 gap-4 place-items-center lg:grid-cols-3 md:grid-cols-2"
  >
    <ThreeDCardDemo client:load />
    <AnimatedPinDemo client:load />
    <EvervaultCardDemo client:load />
  </div>
</Layout>
