---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black">
    <slot />
  </body>
  <footer
    class="border-t mt-20 border-neutral-100 border-white/[0.1] px-8 py-20 grid"
  >
    <div
      class="mx-auto text-sm text-neutral-500 flex sm:flex-row flex-col justify-between items-start"
    >
      <div>
        <div class="mr-4 md:flex mb-4">
          <a
            class="flex text-2xl font-bold text-neutral-600 dark:text-gray-100 selection:bg-emerald-500 mr-10 py-0"
            href="/"
          >
            <div
              class="relative bg-black text-white flex items-center justify-center rounded-md text-sm antialiased"
            >
              <div class="text-sm text-emerald-500 relative z-20"></div>
            </div>
            <div class="flex flex-col">
              <h1 class="text-black dark:text-white">Astro 🤝 Aceternity UI</h1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </footer>
</html>
