---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black">
		<slot />
	</body>
	<footer class="border-t border-neutral-100 border-white/[0.1] px-8 py-20 bg-brand">
		<div class="max-w-7xl mx-auto text-sm text-neutral-500 flex sm:flex-row flex-col justify-between items-start ">
			<div><div class="mr-4  md:flex mb-4"><a class="flex items-center justify-center space-x-2 text-2xl font-bold text-center text-neutral-600 dark:text-gray-100 selection:bg-emerald-500 mr-10 py-0" href="/"><div class="relative h-8 w-8 md:h-6 md:w-6 bg-black border border-slate-800  text-white   flex items-center justify-center rounded-md text-sm antialiased"><div class="absolute h-10 w-full bg-white/[0.2] -top-10 inset-x-0 rounded-full blur-xl"></div><div class="text-sm  text-emerald-500 relative z-20"><img alt="Logo" loading="lazy" width="50" height="50" decoding="async" data-nimg="1" style="color:transparent" srcset="/_next/image?url=%2Flogo.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Flogo.png&amp;w=128&amp;q=75 2x" src="/_next/image?url=%2Flogo.png&amp;w=128&amp;q=75"></div></div><div class="flex flex-col"><h1 class="text-black dark:text-white"> Aceternity UI</h1></div></a></div><div>A product by<!-- --> <a target="__blank" class="dark:text-sky-500 text-neutral-600 font-medium" href="https://aceternity.com">Aceternity</a></div><div class="mt-2">Building in public at<!-- --> <a class="dark:text-sky-500 font-medium text-neutral-600" target="__blank" href="https://twitter.com/mannupaaji">@mannupaaji</a></div></div>
			<div class="flex flex-col"><div class="flex justify-center space-y-4 flex-col mt-4"><a class="transition-colors hover:text-foreground/80 text-foreground/60" href="/components">Components</a><a class="transition-colors hover:text-foreground/80 text-foreground/60" href="/pricing">Pricing</a><a target="__blank" class="transition-colors hover:text-foreground/80 text-foreground/60" href="https://twitter.com/aceternitylabs">Twitter</a><a target="__blank" class="transition-colors hover:text-foreground/80 text-foreground/60" href="https://discord.gg/ftZbQvCdN7">Discord</a></div></div>
		</div>
	</footer>
</html>
